Django
django-cors-headers      
djangorestframework           
djangorestframework-simplejwt
python-dotenv
Pillow
django-seed
markdown
jsons
PyJWT
cryptography
shortuuid
pymysql
django-tinymce
celery
redis
django-celery-beat
Markdown
openpyxl
requests
pytho-dotenv
#pip install --index-url https://phonepe.mycloudrepo.io/public/repositories/phonepe-pg-sdk-python --extra-index-url https://pypi.org/simple phonepe_sdk==1.1.0

